absl-py==2.1.0
aiohttp==3.9.3
aiosignal==1.3.1
altair==5.3.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
astunparse==1.6.3
attrs==23.2.0
autograd==1.6.2
autograd-gamma==0.5.0
backports.tarfile==1.2.0
beautifulsoup4 @ file:///C:/b/abs_0agyz1wsr4/croot/beautifulsoup4-split_1681493048687/work
blinker==1.7.0
bokeh @ file:///C:/b/abs_84v9703e4l/croot/bokeh_1712084371382/work
Bottleneck @ file:///C:/b/abs_f05kqh7yvj/croot/bottleneck_1707864273291/work
branca==0.7.2
Brotli @ file:///C:/ci_311/brotli-split_1676435766766/work
build==1.2.1
cachetools==5.3.3
certifi==2024.2.2
cffi==1.17.1
charset-normalizer==3.3.2
click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
cloudpickle @ file:///C:/b/abs_3796yxesic/croot/cloudpickle_1683040098851/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
contourpy @ file:///C:/b/abs_853rfy8zse/croot/contourpy_1700583617587/work
cryptography==43.0.3
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cytoolz @ file:///C:/b/abs_d43s8lnb60/croot/cytoolz_1701723636699/work
dask @ file:///C:/b/abs_1899k8plyj/croot/dask-core_1701396135885/work
dask-glm @ file:///tmp/build/80754af9/dask-glm_1617267623335/work
dask-image @ file:///C:/b/abs_80kqhww56d/croot/dask-image_1701454515116/work
dask-jobqueue @ file:///C:/b/abs_25ieu5rng1/croot/dask-jobqueue_1701396367781/work
dask-ml @ file:///C:/b/abs_9ayh1h5hzo/croot/dask-ml_1684403159884/work
dask-searchcv==0.2.0
debugpy @ file:///D:/bld/debugpy_1707444544473/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
distributed @ file:///C:/b/abs_5eren88ku4/croot/distributed_1701398076011/work
dm-tree==0.1.8
docutils==0.21.2
et-xmlfile==1.1.0
etils==1.8.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fastjsonschema==2.19.1
filelock==3.13.3
flatbuffers==24.3.25
folium==0.16.0
fonttools==4.25.0
formulaic==1.0.1
frozenlist==1.4.1
fsspec @ file:///C:/b/abs_97mpfsesn0/croot/fsspec_1701286534629/work
future==1.0.0
fuzzywuzzy==0.18.0
gast==0.5.4
gdown==5.2.0
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
googleapis-common-protos==1.63.0
greenlet==3.0.3
grpcio==1.63.0
h5py==3.11.0
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
idna==3.6
imagecodecs @ file:///C:/b/abs_e2g5zbs1q0/croot/imagecodecs_1695065012000/work
imageio @ file:///C:/b/abs_aeqerw_nps/croot/imageio_1707247365204/work
imbalanced-learn==0.12.3
imblearn==0.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
importlib_resources==6.4.0
iniconfig==2.0.0
interface-meta==1.3.0
ipykernel @ file:///D:/bld/ipykernel_1708996677248/work
ipython @ file:///D:/bld/ipython_1709559926914/work
ipython-genutils==0.2.0
ipython-sql==0.5.0
ISLP==0.3.22
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2 @ file:///C:/b/abs_f7x5a8op2h/croot/jinja2_1706733672594/work
joblib @ file:///C:/b/abs_1anqjntpan/croot/joblib_1685113317150/work
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1710255804825/work
jupyter_core @ file:///D:/bld/jupyter_core_1710257313664/work
kagglehub==0.2.4
kaleido==0.2.1
keras==3.3.3
keras-core==0.1.7
keras-cv==0.9.0
keras-nightly==3.3.3.dev2024043003
keras-nlp==0.0.2
keyring==25.2.1
kiwisolver @ file:///C:/ci_311/kiwisolver_1676431979301/work
libclang==18.1.1
lifelines==0.28.0
lightning-utilities==0.11.2
llvmlite @ file:///C:/b/abs_da15r8vkf8/croot/llvmlite_1706910779994/work
lmdb @ file:///C:/b/abs_556ronuvb2/croot/python-lmdb_1682522366268/work
locket @ file:///C:/ci_311/locket_1676428325082/work
lxml==5.2.1
lz4 @ file:///C:/b/abs_064u6aszy3/croot/lz4_1686057967376/work
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib @ file:///C:/b/abs_e26vnvd5s1/croot/matplotlib-suite_1698692153288/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl==0.1.2
memory-profiler==0.61.0
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
ml-dtypes==0.3.2
ml_modelflow==0.0.1
MLmodelflow==0.0.5
more-itertools==10.3.0
mpld3==0.5.10
mpmath==1.3.0
msgpack @ file:///C:/ci_311/msgpack-python_1676427482892/work
multidict==6.0.5
multipledispatch @ file:///C:/ci_311/multipledispatch_1676442767760/work
munkres==1.1.4
mysql-connector-python==9.1.0
namex==0.0.8
nbformat==5.10.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx==3.2.1
nh3==0.2.18
numba @ file:///C:/b/abs_3d6x7o_csg/croot/numba_1712006672408/work
numexpr @ file:///C:/b/abs_5fucrty5dc/croot/numexpr_1696515448831/work
numpy==1.24.4
opencv-python==4.10.0.84
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandas==1.5.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd @ file:///C:/b/abs_46awex0fd7/croot/partd_1698702622970/work
patsy==0.5.6
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow @ file:///C:/b/abs_e22m71t0cb/croot/pillow_1707233126420/work
PIMS @ file:///C:/b/abs_bdvsr15h3b/croot/pims_1701396139024/work
pkginfo==1.10.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1706713388748/work
plotly==5.21.0
pluggy==1.5.0
prettytable==3.10.2
progressbar2==4.4.2
promise==2.3
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
protobuf==4.25.3
psutil @ file:///D:/bld/psutil_1705722591889/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==15.0.2
pycparser==2.22
pydeck==0.8.1b0
pygam==0.9.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
PyMySQL==1.1.1
pyparsing @ file:///C:/ci_311/pyparsing_1678502182533/work
pyproject_hooks==1.1.0
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
pytest==8.3.3
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-utils==3.8.2
pytorch-lightning==2.2.1
pytz @ file:///C:/b/abs_19q3ljkez4/croot/pytz_1695131651401/work
pywin32==306
pywin32-ctypes==0.2.2
PyYAML @ file:///C:/b/abs_782o3mbw7z/croot/pyyaml_1698096085010/work
pyzmq @ file:///D:/bld/pyzmq_1701783313681/work
readme_renderer==44.0
referencing==0.34.0
regex==2024.4.28
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
rpds-py==0.18.0
scikit-learn @ file:///C:/b/abs_38k7ridbgr/croot/scikit-learn_1684954723009/work
scipy @ file:///C:/b/abs_86x0wu5rr1/croot/scipy_1710947370784/work/dist/scipy-1.12.0-cp311-cp311-win_amd64.whl#sha256=5c996fdb2a60e355fd2f706524c685d91dcce64771c8651466d44ecbbccf3cf1
seaborn==0.13.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
slicerator @ file:///C:/b/abs_bbyv0_d5mm/croot/slicerator_1701396167432/work
smmap==5.0.1
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
SQLAlchemy==2.0.32
sqlparse==0.5.1
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels==0.14.1
streamlit==1.33.0
sympy==1.12
tb-nightly==2.17.0a20240430
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-datasets==4.9.4
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.15.0
termcolor==2.4.0
tf-nightly==2.17.0.dev20240430
tf_nightly_intel==2.17.0.dev20240430
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile @ file:///C:/b/abs_45o5chuqwt/croot/tifffile_1695107511025/work
toml==0.10.2
toolz @ file:///C:/ci_311/toolz_1676431406517/work
torch==2.2.2
torchmetrics==1.3.2
tornado @ file:///D:/bld/tornado_1708363244199/work
tqdm==4.66.2
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1710254411456/work
twine==5.1.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1708904622550/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
ucimlrepo==0.0.6
urllib3 @ file:///C:/b/abs_4etpfrkumr/croot/urllib3_1707770616184/work
watchdog==4.0.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
Werkzeug==3.0.2
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
wrapt==1.16.0
xgboost==2.0.3
xyzservices @ file:///C:/ci_311/xyzservices_1676434829315/work
yarl==1.9.4
zict @ file:///C:/b/abs_780gyydtbp/croot/zict_1695832899404/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
